.purple {

background-color: rgb(152, 0, 199);
display: flex;
justify-content:center;
padding: 30px;
}

.blue{
background-color: rgb(63, 114, 209);
padding: 20px;
margin: 30px;
}

.yo {
background-color: rgb(255, 238, 1);
padding: 20px;
margin: 10px;
}

.flex {
display: flex;
}

.red {
    background-color: rgb(255, 0, 0);
    padding-right: 80px;
}

.green {
    background-color: rgb(82, 165, 0);
    padding-bottom: 80px;
}