.purple{
    background-color: rgb(161, 86, 231);
    display: flex;
    justify-content: center;
    padding: 30px;
}

.blue{
    background-color: rgb(56, 85, 247);
    padding: 20px;
    margin: 30px;
}

.yo{
    background-color: rgb(251, 255, 0);
    padding: 20PX;
    margin: 10px;
}

.flex{
    display: flex;
}